<header>
  
  
        <div>
            <img src="{{icon}}">
            {{!-- ici mettre l'id du user --}}
            {{!-- ici mettre la bio du user --}}
            <a href="/users/update-profile">Modifier mon profil</a>
        
        </div>

</header>

  {{#each posts}}
    <div class="show-post"> 
    <li class="post">
      {{creatorId.username}}
      <img src="{{creatorId.icon}}">
      <img src="{{post_pic}}">
      {{legende}}
      <a href ="/posts/{{id}}/edit">
      <img src="/images/edit.png" class="edit-post">
      </a>
      <a href="/posts/{{id}}/delete">
      <img src="/images/delete.png" class="delete-post">
      </a>
    </li>
      </div>
    {{/each}}

<footer>

<a href="/timeline">
<img src="/images/timeline.png" class="timeline-img">
</a>

<a href="/posts/add">
<img src="/images/add.png" class="add-post">
</a>

<a href="/logout">
<img src="/images/logout.png" class="logout">
</a>

</footer>

   

