<header>
  
  
        <div>
            <img src="{{icon}}">
            {{!-- ici mettre l'id du user --}}
            {{!-- ici mettre la bio du user --}}
            <a href="/users/update-profile">Modifier mon profil</a>
            {{app.user.username}}

        </div>

</header>

  {{#each posts}}
    <div class="show-post">
        <a href="/posts/{{this._id}}/edit"class="edit-button">EDIT</a>

    <li class="post">
      {{req.user.username}}
      <img src="{{creatorId.icon}}" alt="">
      <img src="{{post_pic}}">
      {{legende}}
      <a href ="/posts/{{id}}/edit">
      <img src="/images/edit.png" class="edit-post">
      </a>
      <a href="/posts/{{id}}/delete">
      <img src="/images/delete.png" class="delete-post">
      </a>
    </li>
    {{/each}}


    </div>

<footer>

<a href="/timeline">
<img src="/images/timeline.png" class="timeline-img">
</a>

<a href="/posts/add">
<img src="/images/add.png" class="add-post">
</a>

<a href="/logout">
<img src="/images/disconnet.png" class="disconnet">
</a>

</footer>

   

