 <body class="body-profile">
  <header>
    <div class="nav-myprofile">
      <img src="{{user.icon}}" class="avatar-profile">
      <p class="username-profile">{{user.username}}</p>
      <p class="bio">{{user.bio}}</p>
      <p class="city"><img src="/images/location.png" class="location">{{user.city}}</p>
      <a href="/users/update-profile" class="modif-button">Modifier mon profil</a>
  </div>

</header>

{{#each posts}}
      <div class="post">
        <div class="head-post">
           <img src="{{creatorId.icon}}" class="post-avatar">
             <a href = "/users/{{id}}/profile" class="username">{{creatorId.username}}</a>
          <p class="date">{{dateFromNow}}</p>
        </div>

         <img src="{{post_pic}}" class="post-pic">

         <div class="url-class">
         <p class="details">Détails :</p>
          <a href= "{{url}}" class="url1">{{url_name}}</a>
          <a href= "{{url2}}" class="url2">{{url_name2}}</a>
          <a href= "{{url3}}" class="url3">{{url_name3}}</a>
          </div>
        <div class="modif-post">
      <a href ="/posts/{{id}}/edit">
      <img src="/images/edit.png" class="edit-post">
      </a>
      <a href="/posts/{{id}}/delete">
      <img src="/images/delete2.png" class="delete-post">
      </a>
      </div>
      <div class="post-legende">
        <a href = "/users/my-profile" class="username">{{creatorId.username}}</a>
      <p class="legende2">{{legende}}</p>
      </div>
    {{/each}}

    <div class="marge-profile"></div>

<footer class="footer-profile">

 <img src="/images/logo.png" class="logo-resp"> 

<a href="/timeline">
<img src="/images/timeline.png" class="timeline-img">
</a>

<a href="/posts/add">
<img src="/images/add.png" class="addpost">
</a>

<a href="/logout">
<img src="/images/logout.png" class="logout">
</a>

</footer>

</body>

   

