<header>
    <div class="nav-profile">
      {{#each posts}}
      <img src="{{creatorId.icon}}" class="avatar-profile">
      <p class="username-profile">{{creatorId.username}}</p>
      <p class="bio">{{creatorId.bio}}</p>
      <p class="city"><img src="/images/location.png" class="location">{{creatoriD.city}}</p>
  </div>

</header>
      <div class="post">

        <div class="head-post">
           <img src="{{creatorId.icon}}" class="post-avatar">
            <a href = "/users/{{id}}/profile" class="username">{{creatorId.username}}</a>
          <p class="date">{{dateFromNow}}</p>
        </div>

         <img src="{{post_pic}}" class="post-pic">
      <div class="post-legende">
        <p class="username">{{creatorId.username}}</p>
      <p class="legende2">{{legende}}</p>
      </div>
    {{/each}}
  
   <div class="marge-profile"></div>
  
<footer class="footer-profile">

<a href="/timeline">
<img src="/images/timeline.png" class="timeline-img">
</a>

<a href="/posts/add">
<img src="/images/add2.png" class="addpost">
</a>

<a href="/logout">
<img src="/images/logout.png" class="logout">
</a>

</footer>

