<section id="update-profile">
    <div class="nav-create">
<h1>Modifie ton profil</h1>
</div>

<div class="contenu-profile">
<form action="/users/update-profile" method="POST" enctype="multipart/form-data">
    <li>
    <label for="username"> Nom d'utilisateur :</label>
    <input id="username" type="text" name="username" value="{{user.username}}">
    </li>
    
    <li>
    <label for="icon">Choisis ta photo de profil :</label>
    <img src="{{user.icon}}" alt="icon">
    <input id="icon" type="file" name="icon">
    </li>

    <li>
    <label for="favorite_pic">Télécharge la photo de ta tenue préférée :</label>
    <img class="preview-image" src="{{user.favorite_pic}}" alt="favorite pic">
    <input id="favorite_pic" type="file" name="favorite_pic">
    </li>

    <li>
    <label for="bio"> Rédige ta biographie : </label>
    <textarea id ="bio" type="text" name="bio" maxlength="130">{{user.bio}}</textarea>
    </li>
   
    <li>
    <label for="city">Dans quelle ville fais-tu ton shopping ?</label>
    <input id="city" type="text" name="city" value="{{user.city}}">
    </li>

    <button id="button-profile" type="submit">VALIDER</button>
</form>
</div>
</section>