<section id="post-edit">
<h1>Modifie ton post</h1>
<form action="/posts/{{post.id}}/edit" method="POST" enctype="multipart/form-data">
    <li id="post-pic">
    <label for="post_pic">Choisis ta photo : </label>
    <input id="postpic-area" type="file" accept="image/png, image/jpeg" name="post_pic" value="{{post.post_pic}}">
    </li>

    <li class="legende">
    <label for="legende"> Ecris une légende :</label>
    <input id="legende-area" type="text" name="legende" maxlength="300" value="{{post.legende}}"> 
    </li>

     <li class="link1">
      <label for="url-name">Quel est ton article ?</label>
    <input class="url-name" type="text" name="url_name" value={{post.url_name}}></input>
    <label for="url"> Lien </label>
      <input type="url" name="url" id="url"
       placeholder="http://example.com"
       pattern="https://.*" size="30"  value={{post.url}}>

    </li>

     <li class="link2">
      <label for="url-name">Quel est ton article ?</label>
    <input class="url-name" type="text" name="url_name" value={{post.url_name2}}></input>
    <label for="url"> Lien</label>
      <input type="url" name="url" id="url"
       placeholder="http://example.com"
       pattern="https://.*" size="30"  value={{post.url2}}>

    </li>

     <li class="link3">
      <label for="url-name">Quel est ton article ?</label>
    <input class="url-name" type="text" name="url_name" value={{post.url_name3}}></input>
    <label for="url"> Lien </label>
      <input type="url" name="url" id="url"
       placeholder="http://example.com"
       pattern="https://.*" size="30" value={{post.url3}}>

    </li>
       
       
       
       
       
       
      
  
<button class="post-button" type="submit">JE VALIDE</button>

</form>
</section>

<div class="quitter">
<a href="/timeline">Quitter</a>
</div>