   <div class="#content-timeline">
    <div class="marge"></div>
    <div class="nav-timeline">
      <img src="/images/logo2.png" class="logo">

      <a href="/posts/add">
       <img src="/images/add.png" class="add-post">
      </a>
      <a href="/posts/add" class="responsive-addpost">Nouveau post</a>

      <a href = "/users/my-profile">
        <img src="{{user.icon}}" class="nav-avatar">
      </a>
      
    </div>

    
      <div class="post">
        {{#each posts}}
          <div class="head-post">
           {{#if isAuthor}}
           <a href = "/users/my-profile">
           <img src="{{creatorId.icon}}" class="avatar">
           </a>
             <a href = "/users/my-profile" class="username">{{creatorId.username}}</a>
               {{else}}
               <a href = "/users/{{id}}/profile">
               <img src="{{creatorId.icon}}" class="avatar"></a>
             <a href = "/users/{{id}}/profile" class="username">{{creatorId.username}}</a>
         {{/if}}
          <p class="date">{{dateFromNow}}</p>
        </div>

         <img src="{{post_pic}}" class="post-pic">
         {{#if isAuthor}}
        <div class="modif-post">
      <a href ="/posts/{{id}}/edit">
      <img src="/images/edit.png" class="edit-post">
      </a>
      <a href="/posts/{{id}}/delete">
      <img src="/images/delete2.png" class="delete-post">
      </a>
      </div>
       {{/if}}

       
      <div class="post-legende">
               {{#if isAuthor}}
             <a href = "/users/my-profile" class="username">{{creatorId.username}}</a>
               {{else}}
             <a href = "/users/{{id}}/profile" class="username">{{creatorId.username}}</a>
         {{/if}}
      <p class="legende2">{{legende}}</p>
      <a href= "{{url}}">{{url_name}}</a>
      <a href= "{{url2}}">{{url_name2}}</a>
      <a href= "{{url3}}">{{url_name3}}</a>

      </div>
    {{/each}}
    </div>
</div>

    
  