    <div class="nav-timeline">
      <img src="/images/logo.png" class="logo">
      <a href="/posts/add">
      <img src="/images/add.png" class="add-post">
      </a>
      <a href="/users/my-profile">
      <img src="/images/icondefault.png" class="icon-default">
      </a>
      <a href="/logout">
      <img src="/images/logout.png" class="logout">
      </a>
    </div>

    {{#each posts}}

   
    <li class="post">


      {{#if isAuthor}}
      <a href = "/users/my-profile">{{creatorId.username}}</a>
      {{/if}}

      <a href = "/users/{{id}}/profile">{{creatorId.username}}</a>

      {{dateFromNow}}
      <img src="{{creatorId.icon}}" alt="">
      <img src="{{post_pic}}">
      {{legende}}
      
  

      {{#if isAuthor}}
      <a href ="/posts/{{id}}/edit">
      <img src="/images/edit.png" class="edit-post">
      </a>
      <a href="/posts/{{id}}/delete">
      <img src="/images/delete2.png" class="delete-post">
      </a>
      {{/if}}
    </li>
    {{/each}}

    
  