<header>
    <nav>
      <a href="">
        {{!-- ici mettre la search bar --}}
        <img src="" class="search-img"> 
      </a>

      <a href="/posts/add">
        <img src="./images/add.png" class="add-post">
      </a>

      <img src="./images/icondefault.png" class="icon-default">
      

    </nav>
    </header>

    {{#each post}}
    <li class="post">
      {{creatorId.username}}
      {{creatorId.icon}}
      <img src="{{post_pic}}">
      {{legende}}
      <a href ="/posts/edit?post_id={{post._id}}">
      <img src="./images/edit.png" class="edit-post">
      </a>
    </li>
    {{/each}}


