    <div class="nav-timeline">
      <img src="./images/logo.png" class="logo">
      <a href="/posts/add">
        <img src="./images/add.png" class="add-post">
      </a>

      <img src="./images/icondefault.png" class="icon-default">
      
    </div>

    {{#each post}}
    <li class="post">
      {{creatorId.username}}
      {{creatorId.icon}}
      <img src="{{post_pic}}">
      {{legende}}
      <a href ="/posts/edit?post_id={{post._id}}">
      <img src="./images/edit.png" class="edit-post">
      </a>
    </li>
    {{/each}}


